footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
}

#allMenuOptionsDiv {
    background-color: salmon;
    margin-left: 35%;
    width: 60%;
    margin-top: 90px;
}

.foodMenusAside {
    position: fixed;
    top: 90px;
    left: 5%;
    width: 25%;
    background-color: black;
    padding: 1%;
    border-radius: 10px;
}

.menuOptions {
    display: none;
}

.test-div {
    width: 500px;
    height: 500px;
    background-color: salmon;
    margin: 200px auto;
}