@font-face{ 
	font-family: 'Greek';
    src: url('assets/fonts/webfontkit-20200928-033846/xtra-webfont.woff'),
    url('assets/fonts/webfontkit-20200928-033846/xtra-webfont.woff2');
}

@font-face {
    font-family: "Roman SD";
    src: url('assets/fonts/roman-sd/roman_sd-webfont.woff'),
    url('assets/fonts/roman-sd/roman_sd-webfont.woff2')
}

@font-face {
    font-family: "Dalek Pinpoint";
    src: url('assets/fonts/dalek-pinpoint/dalekpinpointbold-webfont.woff'),
    url('assets/fonts/dalek-pinpoint/dalekpinpointbold-webfont.woff2');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav {
    height: 70px;
    font-family: 'Greek', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

.footer-info {
    width: 50%;
    margin: 0 auto;
    justify-content: space-around;
}

.footer-info h3 {
    text-decoration: underline;
}

.icon {
    width: 100%;
}

.icon-link {
    width: 10%;
}

.navbar {
    background-color: rgba(0, 0, 0, .5);
}

.navbar-brand {
    font-size: 3rem;
    color: #f9be1a !important;
}


.socials {
    width: 50%;
    margin: 0 auto;
    justify-content: space-around;
}

.socials, .footer-info {
    padding: 1%;
}

@media screen and (max-width: 992px) {
    .footer-info {
        width: 90%;
    }

    #navbarNavAltMarkup {
        background-color: rgba(0, 0, 0, .8);
        padding: 1%;
        width: 100vw;
    }
}

@media screen and (max-width: 768px) {
    .socials {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    nav {
        background-color: black !important;
    }
    
    footer {
        padding: 2%;
    }

    .emailAddress {
        word-break: break-word;
    }

    .footer-info {
        flex-direction: column-reverse;
        justify-content: space-between;
        padding-bottom: 2%;
    }

    .navbar-brand {
        font-size: 2rem;
    }

}