@font-face{ 
	font-family: 'Greek';
    src: url('assets/fonts/webfontkit-20200928-033846/xtra-webfont.woff'),
    url('assets/fonts/webfontkit-20200928-033846/xtra-webfont.woff2');
}

html {
    scroll-behavior: smooth;
}

nav {
    height: 70px;
    font-family: 'Greek';
    font-size: 1.5rem;
}

main {
    /* margin-top: 70px; */
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

.contact-anchor {
    position: relative;
}

.contact-desc {
    width: 50%;
    padding: 10%;
}

.contact-form {
    width: 50%;
    padding: 5%;
}

.directionsBtn {
    width: 50%;
    height: 30%;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: none;
    transition: background-color .4s, transform .4s;
}

.directionsBtn:hover {
    background-color: #f9be1a;
    transform: scale(1.1);
}

.directionsBtn:focus {
    outline: none;
}

.directions-form {
    width: 100%;
    height: 100%;
}

.footer-info {
    width: 50%;
    margin: 0 auto;
    justify-content: space-around;
}

.hero {
    display: block;
    margin: 0 auto;
    width: 70%;
}

.hero-div {
    background-color: black;
    padding: 2%;
    padding-top: 5%;
}

.icon {
    height: 100px;
    width: 100px;
}

.map {
    width: 100%;
    height: 100%;
}

.map-div {
    width: 50%;
    padding: 2%;
}

.map-info {
    width: 50%;
    padding: 10%;
}

.navbar {
    background-color: rgba(0, 0, 0, .5);
}

.navbar-brand {
    font-size: 2rem;
    color: #f9be1a !important;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: calc(50% - 24px) 10% 0 10%;
    z-index: 50;
    transition: transform .5s, opacity .5s;
}

.overlay:hover {
    transform: scale(1.1);
    opacity: 0;
}

.overlay:hover ~ .square{
    transform: scale(1.1)
}

.overlay-about {
}

.overlay-community {

}

.overlay-menu {

}

.restaurant-food {
    width: 100%;
}

.restaurant-food-img {
    display: block;
    width: 100%;
    height: auto;
    z-index: -1;
}

.socials {
    width: 50%;
    margin: 0 auto;
    justify-content: space-around;
}

.socials, .footer-info {
    padding: 1%;
}

.square {
    display: block;
    width: 100%;
    height: auto;
    transition: transform .5s;
}

.square-link {
    position: relative;
    width: 30%;
}

/* .square:hover {
    transform: scale(1.1);
} */

.squares-div {
    padding-top: 10%;
    padding-bottom: 10%;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}
