nav {
    height: 70px;
}

main {
    margin-top: 70px;
}

textarea {
    display: block;
    width: 100%;
    height: 100px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

.contact-desc {
    width: 50%;
    padding: 10%;
}

.contact-form {
    width: 50%;
    padding: 5%;
}

.directions-div {
}

.footer-info {
    width: 50%;
    margin: 0 auto;
    justify-content: space-around;
}

.hero {
    display: block;
    margin: 0 auto;
}

.hero-div {
    background-color: black;
    padding: 70px;
}

.icon {
    height: 100px;
    width: 100px;
}

.map {
    width: 100%;
    height: 100%;
}

.map-div {
    width: 50%;
    padding: 2%;
}

.map-info {
    width: 50%;
    padding: 10%;
}

.restaurant-food {
    width: 100%;
}

.restaurant-food-img {
    display: block;
    width: 100%;
    height: auto;
}

.socials {
    width: 50%;
    margin: 0 auto;
    justify-content: space-around;
}

.socials, .footer-info {
    padding: 1%;
}

.square {
    display: block;
}

.squares-div {
    display: flex;
    padding-top: 10%;
    padding-bottom: 10%;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}
