.circle {
    width: 200px;
    height: 200px;
    background-color: salmon;
    border-radius: 50%;
}

.smallerCircle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    /* margin-top: 50px; */
    background-color: blue;
    border-radius: 50%;
}